<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Este es el listados de familiares de Victoria Arce</h1>
    
    {% for relative in relatives%}

        <P>Nombre: {{relative.name}}</P>
        <P>Apellido: {{relative.lastname}}</P>
        <P>Relación: {{relative.conection}}</P>
        <P>Edad: {{relative.age}}</P>

        {% if relative.lives_in_bahia %}
            <P>Vive en la ciudad de Bahía Blanca</P>
        {% else %}
            <P>NO vive en la ciudad de Bahía Blanca</P>
        {% endif %}

    <br>
    
    {% endfor %}



</body>
</html>